<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.the_climbing_night.meeting.mapper.MeetingMapper">
  <select id="getMeetings" parameterType="com.admin.the_climbing_night.meeting.domain.req.GetMeetingsRequest" resultType="com.admin.the_climbing_night.meeting.vo.GetMeetingVo">
    SELECT
        mee.id id
        , mee.name meetingName
        , mem.name hostName
        , ca.name climbingAreaName
        , ca.address address
        , ca.price price
        , ca.winPrice winPrice
        , ca.winwinYn winwinYn
        , mee.hostDt hostDt
        , mee.time time
        , ms.status status
    FROM
        meeting mee
        JOIN member mem ON mee.memberFk = mem.id
        JOIN meetingStatus ms ON mee.meetingStatusFk = ms.id
        JOIN climbingArea ca ON mee.climbingAreaFk = ca.id
    WHERE
        1 = 1
        <if test="meetingName != null and meetingName != ''">AND mee.name LIKE CONCAT('%', #{meetingName}, '%')</if>
        <if test="hostName != null and hostName != ''">AND mem.name LIKE CONCAT('%', #{hostName}, '%')</if>
        <if test="climbingAreaName != null and climbingAreaName != ''">AND ca.name LIKE CONCAT('%', #{climbingAreaName}, '%')</if>
        <if test="winwinYn != null and winwinYn != ''">AND ca.winwinYn = #{winwinYn}</if>
        <if test="startDt != null and startDt != ''">
          <![CDATA[
            AND mee.hostDt >= #{startDt}
          ]]>
        </if>
        <if test="endDt != null and endDt != ''">
          <![CDATA[
            AND mee.hostDt <= #{endDt}
          ]]>
        </if>
  </select>

  <select id="getMeetingInfo" parameterType="java.lang.String" resultType="com.admin.the_climbing_night.meeting.vo.GetMeetingInfoVo">
    SELECT
        mee.id id
        , mee.name meetingName
        , mem1.name hostName
        , ca.name climbingAreaName
        , ca.address address
        , ca.price price
        , ca.winPrice winPrice
        , ca.winwinYn winwinYn
        , ca.closeYn closeYn
        , ca.description description
        , mee.hostDt hostDt
        , mee.time time
        , mee.criticalMeetingYn criticalMeetingYn
        , ms.status status
        , mem2.name participantName
        , mem2.birthDt participantbirthDt
        , l.level level
        , l.color color
        , d.degree degree
    FROM
        (
          SELECT
            id
            , name
            , memberFk
            , climbingAreaFk
            , hostDt
            , time
            , criticalMeetingYn
            , meetingStatusFk
          FROM
            meeting
          WHERE
            id = #{id}
        ) mee
        JOIN member mem1 ON mee.memberFk = mem1.id
        JOIN meetingStatus ms ON mee.meetingStatusFk = ms.id
        JOIN climbingArea ca ON mee.climbingAreaFk = ca.id
        JOIN attend a ON mee.id = a.meetingFk
        JOIN member mem2 ON mem2.id = a.memberFk
        JOIN level l ON l.id = mem2.levelFk
        JOIN degree d ON d.id = mem2.degreeFk
  </select>

  <select id="hasMeeting" parameterType="com.admin.the_climbing_night.meeting.domain.req.InsertMeetingRequest" resultType="java.lang.String">
    SELECT
        id
    FROM
        meeting
    WHERE
        1 = 1
        AND hostDt = #{hostDt}
        AND climbingAreaFk = #{climbingAreaFk}
  </select>

  <insert id="insertMeeting" parameterType="com.admin.the_climbing_night.meeting.domain.req.InsertMeetingRequest">
    INSERT INTO meeting (
        id
        , name
        , memberFk
        , climbingAreaFk
        , createDt
        , hostDt
        , time
        , criticalMeetingYn
        , meetingStatusFk
    ) VALUES (
        #{id}
        , #{name}
        , #{memberFk}
        , #{climbingAreaFk}
        , #{createDt}
        , #{hostDt}
        , #{time}
        , #{criticalMeetingYn}
        , #{meetingStatusFk}
    )
  </insert>

  <insert id="insertAttend" parameterType="com.admin.the_climbing_night.meeting.vo.InsertAttendVo">
    INSERT INTO attend (
        id
        , meetingFk
        , memberFk
    ) VALUES (
        #{id}
        , #{meetingFk}
        , #{memberFk}
    )
  </insert>
</mapper>