<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.the_climbing_night.member.mapper.MemberMapper">
  <select id="getMemberInfoByJoin" parameterType="com.admin.the_climbing_night.member.domain.req.GetMemberInfoByJoinRequest" resultType="com.admin.the_climbing_night.member.vo.GetMemberInfoByJoinVo">
    SELECT
        m.id
        , m.name
        , IFNULL(m.birthDt, '') birthDt
        , d.degree
    FROM
        member m
        JOIN degree d ON m.degreeFk = d.id
    WHERE
        1 = 1
        AND name LIKE CONCAT('%', #{name}, '%');
  </select>

  <select id="getDegrees" resultType="com.admin.the_climbing_night.member.vo.GetDegreeForMemberVo">
    SELECT
      id
      , degree
    FROM
      degree
    ORDER BY
      CAST(id AS UNSIGNED) DESC;
  </select>

  <select id="getMembers" parameterType="com.admin.the_climbing_night.member.domain.req.GetMembersForMemberRequest" resultType="com.admin.the_climbing_night.member.vo.GetMemberForMemberVo">
    SELECT
      m.id
      , CONCAT(m.name, ' ', IFNULL(SUBSTRING(m.birthDt, 3, 2), '')) name
      , CASE
          WHEN ad.grade = 60 THEN '회원'
          WHEN ad.grade = 50 THEN '회원'
          WHEN ad.grade = 40 THEN '매니저'
          WHEN ad.grade = 30 THEN '운영진'
          WHEN ad.grade = 20 THEN '부회장'
          WHEN ad.grade = 10 THEN '회장'
          ELSE '회원'
        END AS grade
      , d.degree
      , l.level
      , l.color
      , COUNT(
          CASE
            WHEN YEAR(me.hostDt) = YEAR(CURDATE()) THEN 1
          END
      ) count_this_year
      , COUNT(
          CASE
            WHEN me.hostDt >= DATE_SUB(CURDATE(), INTERVAL 1 YEAR) THEN 1
          END
      ) count_last_1_year
      , COUNT(
          CASE
            WHEN me.hostDt >= DATE_SUB(CURDATE(), INTERVAL 3 MONTH) THEN 1
          END
      ) count_last_3_months
      , IFNULL(ad.grade, 70) unsignedGrade
    FROM
      member m
      JOIN level l ON m.levelFK = l.id
      JOIN degree d ON m.degreeFK = d.id
      LEFT JOIN admin ad ON m.id = ad.memberFK
      LEFT JOIN attend at ON m.id = at.memberFK
      LEFT JOIN meeting me ON at.meetingFK = me.id AND me.hostDt >= DATE_SUB(CURDATE(), INTERVAL 2 YEAR)
    WHERE
      m.id != 'TCN0'
      AND me.meetingStatusFK = '10'
      <if test="name != null and name != ''">AND m.name LIKE CONCAT('%', #{name}, '%')</if>
      <if test="degreeFk != null and degreeFk != ''">AND m.degreeFK = #{degreeFk}</if>
      <if test="startJoinDt != null and startJoinDt != ''">
        <![CDATA[
          AND m.joinDt >= #{startJoinDt}
        ]]>
      </if>
      <if test="endJoinDt != null and endJoinDt != ''">
        <![CDATA[
          AND m.joinDt <= #{endJoinDt}
        ]]>
      </if>
    GROUP BY
      m.id,
      m.name,
      ad.grade,
      d.degree,
      l.level,
      l.color
    ORDER BY
      unsignedGrade, d.id;
  </select>

  <select id="getMemberDetail" parameterType="java.lang.String" resultType="com.admin.the_climbing_night.member.vo.GetMemberDetailVo">
    SELECT
      CONCAT(m.name, IFNULL(SUBSTRING(m.birthDt, 3, 2), '')) name
      , l.level
      , l.color
      , d.degree
      , CASE
          WHEN a.grade = 60 THEN '회원'
          WHEN a.grade = 50 THEN '회원'
          WHEN a.grade = 40 THEN '매니저'
          WHEN a.grade = 30 THEN '운영진'
          WHEN a.grade = 20 THEN '부회장'
          WHEN a.grade = 10 THEN '회장'
          ELSE '회원'
        END grade
    FROM
      member m
      JOIN level l ON m.levelFK = l.id
      JOIN degree d ON m.degreeFK = d.id
      LEFT JOIN admin a ON m.id = a.memberFK
    WHERE
      m.id != 'TCN0'
      <if test="id != null and id != ''">AND m.id = #{id}</if>
  </select>

  <select id="getMeetingsOfMember" parameterType="com.admin.the_climbing_night.member.domain.req.GetMeetingsOfMemberRequest" resultType="com.admin.the_climbing_night.member.vo.GetMeetingOfMemberVo">
    SELECT
      me.id
      , me.name meetingName
      , me.hostDt
      , me.time
      , me.criticalMeetingYn
      , m2.name hostName
      , c.name climbingAreaName
      , c.winwinYn
    FROM
      member m1
      JOIN attend a ON m1.id = a.memberFK
      JOIN meeting me ON a.meetingFK = me.id
      JOIN climbingArea c ON me.climbingAreaFK = c.id
      JOIN admin ad ON me.adminFK = ad.id
      JOIN member m2 ON ad.memberFK = m2.id
    WHERE
      m1.id != 'TCN0'
      AND me.meetingStatusFK = '10'
      <if test="id != null and id != ''">AND m.id = #{id}</if>
      <if test="hostDt != null and hostDt != ''">AND YEAR(me.hostDt) = #{hostDt}</if>
    ORDER BY
      MONTH(me.hostDt), me.hostDt
  </select>
</mapper>