<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.the_climbing_night.auth.mapper.JoinMapper">
  <select id="isMember" parameterType="com.admin.the_climbing_night.auth.domain.req.JoinRequest" resultType="com.admin.the_climbing_night.auth.vo.IsMemberForAuthVo">
    SELECT
        id
    FROM
        member
    WHERE
        1 = 1
        AND name = #{name}
        AND birthDt = #{birthDt}
        AND phoneNo = #{phoneNo}
        AND degreeFk = #{degreeFk}
  </select>

  <select id="isAdmin" parameterType="java.lang.String" resultType="com.admin.the_climbing_night.auth.vo.IsAdminVo">
    SELECT
        id
    FROM
        admin
    WHERE
        1 = 1
        AND memberId = #{memberId}
  </select>

  <select id="getAdminCount" resultType="long">
    SELECT
        count(id)
    FROM
        admin
  </select>

  <insert id="join" parameterType="com.admin.the_climbing_night.auth.vo.JoinVo">
    INSERT INTO admin
      (id, memberFk, memberId, password, grade)
    VALUES
      (#{id}, #{memberFk}, #{memberId}, #{password}, #{grade})
  </insert>
</mapper>