<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.the_climbing_night.auth.mapper.LoginMapper">
  <select id="login" parameterType="com.admin.the_climbing_night.auth.domain.req.LoginRequest" resultType="com.admin.the_climbing_night.auth.vo.LoginVo">
    SELECT
        a.memberId
        , a.grade
        , m.name
    FROM
        admin a
        join member m on a.memberFk = m.id
    WHERE
        1 = 1
        AND a.memberId = #{memberId}
        AND a.password = #{password}
  </select>

  <select id="getIsLoggedIn" parameterType="com.admin.the_climbing_night.auth.vo.GetIsLoggedInVo" resultType="com.admin.the_climbing_night.auth.vo.GetIsLoggedInVo">
    SELECT
      a.memberId
      , a.grade
      , m.name
    FROM
      admin a
      join member m on a.memberFk = m.id
    WHERE
      1 = 1
      AND a.accessToken = #{accessToken}
  </select>

  <update id="updateAdminForLogin" parameterType="com.admin.the_climbing_night.auth.domain.req.LoginRequest">
    UPDATE
        admin
    SET
        accessToken = #{accessToken}
    WHERE
        1 = 1
        AND memberId = #{memberId}
  </update>
</mapper>