<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.the_climbing_night.admin.mapper.AdminMapper">
  <select id="getMembers" parameterType="com.admin.the_climbing_night.admin.domain.req.GetMembersRequest" resultType="com.admin.the_climbing_night.admin.vo.GetMemberVo">
    SELECT
        m.id
        , m.name
        , m.birthDt
        , l.level
        , l.color
        , d.degree
    FROM
        member m
        JOIN level l ON m.levelFk = l.id
        JOIN degree d ON m.degreeFk = d.id
    WHERE
        1 = 1
        <if test="name != null and name != ''">AND m.name LIKE CONCAT('%', #{name}, '%')</if>
        <if test="birthDt != null and birthDt != ''">AND m.birthDt LIKE CONCAT('%', #{birthDt}, '%')</if>
        <if test="levelFk != null and levelFk != ''">AND m.levelFk = #{levelFk}</if>
        <if test="degreeFk != null and degreeFk != ''">AND m.degreeFk = #{degreeFk}</if>
        <if test="phoneNo != null and phoneNo != ''">AND m.phoneNo LIKE CONCAT('%', #{phoneNo}, '%')</if>
        <if test="winwinYn != null and winwinYn != ''">AND m.winwinYn = #{winwinYn}</if>
        <if test="sex != null and sex != ''">AND m.sex = #{sex}</if>
        <if test="blackCnt != null and blackCnt != ''">AND m.blackCnt >= #{blackCnt}</if>
        <if test="dormancyYn != null and dormancyYn != ''">AND m.dormancyYn = #{dormancyYn}</if>
        <if test="leaveYn != null and leaveYn != ''">AND m.leaveYn = #{leaveYn}</if>
        <if test="banYn != null and banYn != ''">AND m.banYn = #{banYn}</if>
        <if test="startJoinDt != null and startJoinDt != ''">
          <![CDATA[
            AND m.joinDt >= #{startJoinDt}
          ]]>
        </if>
        <if test="endJoinDt != null and endJoinDt != ''">
          <![CDATA[
            AND m.joinDt <= #{endJoinDt}
          ]]>
        </if>
        <if test="startLeaveDt != null and startLeaveDt != ''">
          <![CDATA[
            AND m.leaveDt >= #{startLeaveDt}
          ]]>
        </if>
        <if test="endLeaveDt != null and endLeaveDt != ''">
          <![CDATA[
            AND m.leaveDt <= #{endLeaveDt}
          ]]>
        </if>
        <if test="startBanDt != null and startBanDt != ''">
          <![CDATA[
            AND m.banDt >= #{startBanDt}
          ]]>
        </if>
        <if test="endBanDt != null and endBanDt != ''">
          <![CDATA[
            AND m.banDt <= #{endBanDt}
          ]]>
        </if>
  </select>

  <select id="getMemberInfo" parameterType="java.lang.String" resultType="com.admin.the_climbing_night.admin.vo.GetMemberInfoVo">
    SELECT
        m.id
        , m.name
        , m.birthDt
        , l.level
        , l.color
        , d.degree
        , m.phoneNo
        , m.winwinYn
        , m.sex
        , m.blackCnt
        , m.dormancyYn
        , m.leaveYn
        , m.banYn
        , m.joinDt
        , m.leaveDt
        , m.banDt
        , m.image
        , m.updateReason
        , m.dormancyReason
        , m.leaveReason
        , m.banReason
    FROM
        member m
        JOIN level l ON m.levelFk = l.id
        JOIN degree d ON m.degreeFk = d.id
        LEFT JOIN winwinSubscribe w ON m.id = w.memberFk
        LEFT JOIN admin a ON m.id = a.memberFk
    WHERE
        1 = 1
        AND m.id = #{id}
  </select>

  <select id="isAdminMember" parameterType="com.admin.the_climbing_night.admin.domain.req.IsAdminMemberRequest" resultType="java.lang.String">
    SELECT
        a.id
    FROM
        admin a
        join member m on a.memberFk = m.id
    WHERE
        1 = 1
        <if test="name != null and name != ''">AND m.name = #{name}</if>
        <if test="birthDt != null and birthDt != ''">AND m.birthDt = #{birthDt}</if>
        <if test="levelFk != null and levelFk != ''">AND m.levelFk = #{levelFk}</if>
        <if test="degree != null and degree != ''">AND m.degreeFk = #{degree}</if>
  </select>

  <update id="updateAuthority" parameterType="com.admin.the_climbing_night.admin.domain.req.IsAdminMemberRequest">
    UPDATE
        admin 
    SET
        grade = #{grade}
    WHERE
        1 = 1
        AND memberId = #{memberId}
  </update>

  <select id="isMember" parameterType="com.admin.the_climbing_night.admin.vo.IsMemberForAdminVo" resultType="java.lang.String">
    SELECT
        id
    FROM
        member
    WHERE
        1 = 1
        AND name = #{name}
        <if test="id != null and id != ''">AND id = #{id}</if>
        <if test="birthDt != null and birthDt != ''">AND birthDt = #{birthDt}</if>
        <if test="levelFk != null and levelFk != ''">AND levelFk = #{levelFk}</if>
        <if test="degree != null and degree != ''">AND degreeFk = #{degree}</if>
  </select>

  <select id="getMemberCount" resultType="long">
    SELECT
        count(id)
    FROM
        member
  </select>
  
  <insert id="insertMember" parameterType="com.admin.the_climbing_night.admin.domain.req.InsertMemberRequest">
    INSERT INTO member (
        id
        , name
        , birthDt
        , levelFk
        , degreeFk
        , winwinYn
        , sex
        , blackCnt
        , dormancyYn
        , leaveYn
        , banYn
        , joinDt
        , createDt
    ) VALUES (
        #{id}
        , #{name}
        , #{birthDt}
        , #{levelFk}
        , #{degreeFk}
        , #{winwinYn}
        , #{sex}
        , #{blackCnt}
        , #{dormancyYn}
        , #{leaveYn}
        , #{banYn}
        , #{joinDt}
        , #{createDt}
    )
  </insert>

  <update id="updateMember" parameterType="com.admin.the_climbing_night.admin.domain.req.UpdateMemberRequest">
    UPDATE
        member
    <set>
        <if test="name != null and name != ''">name = #{name}</if>
        <if test="birthDt != null and birthDt != ''">, birthDt = #{birthDt}</if>
        <if test="levelFk != null and levelFk != ''">, levelFk = #{levelFk}</if>
        <if test="degree != null and degree != ''">, degreeFk = #{degree}</if>
        <if test="phoneNo != null and phoneNo != ''">, phoneNo = #{phoneNo}</if>
        <if test="winwinYn != null and winwinYn != ''">, winwinYn = #{winwinYn}</if>
        <if test="sex != null and sex != ''">, sex = #{sex}</if>
        <if test="blackCnt != null and blackCnt != ''">, blackCnt = #{blackCnt}</if>
        <if test="dormancyYn != null and dormancyYn != ''">, dormancyYn = #{dormancyYn}</if>
        <if test="leaveYn != null and leaveYn != ''">, leaveYn = #{leaveYn}</if>
        <if test="banYn != null and banYn != ''">, banYn = #{banYn}</if>
        <if test="joinDt != null and joinDt != ''">, joinDt = #{joinDt}</if>
        <if test="updateDt != null and updateDt != ''">, updateDt = #{updateDt}</if>
        <if test="leaveDt != null and leaveDt != ''">, leaveDt = #{leaveDt}</if>
        <if test="banDt != null and banDt != ''">, banDt = #{banDt}</if>
        <if test="image != null and image != ''">, image = #{image}</if>
        <if test="updateReason != null and updateReason != ''">, updateReason = #{updateReason}</if>
        <if test="dormancyReason != null and dormancyReason != ''">, dormancyReason = #{dormancyReason}</if>
        <if test="leaveReason != null and leaveReason != ''">, leaveReason = #{leaveReason}</if>
        <if test="banReason != null and banReason != ''">, banReason = #{banReason}</if>
    </set>
    WHERE
        1 = 1
        AND id = #{id}
  </update>

  <select id="getClimbingAreas" parameterType="com.admin.the_climbing_night.admin.domain.req.GetClimbingAreasRequest" resultType="com.admin.the_climbing_night.admin.vo.GetClimbingAreaVo">
    SELECT
        id
        , name
        , address
        , winwinYn
    FROM
        climbingArea
    WHERE
        1 = 1
        <if test="name != null and name != ''">AND name LIKE CONCAT('%', #{name}, '%')</if>
        <if test="price != null and price != ''">AND price = #{price}</if>
        <if test="winPrice != null and winPrice != ''">AND winPrice = #{winPrice}</if>
        <if test="address != null and address != ''">AND address = #{address}</if>
        <if test="winwinYn != null and winwinYn != ''">AND winwinYn = #{winwinYn}</if>
        <if test="closeYn != null and closeYn != ''">AND closeYn = #{closeYn}</if>
  </select>

  <select id="getClimbingAreaInfo" parameterType="java.lang.String" resultType="com.admin.the_climbing_night.admin.vo.GetClimbingAreaInfoVo">
    SELECT
        id
        , name
        , price
        , winPrice
        , address
        , winwinYn
        , closeYn
        , createDt
        , updateDt
        , description
    FROM
        climbingArea
    WHERE
        1 = 1
        AND id = #{id}
  </select>

  <select id="getClimbingAreaCount" resultType="int">
    SELECT
        count(id)
    FROM
        climbingArea
  </select>

  <insert id="insertClimbingArea" parameterType="com.admin.the_climbing_night.admin.domain.req.InsertClimbingAreaRequest">
    INSERT INTO climbingArea (
        id
        , name
        , price
        , winPrice
        , address
        , winwinYn
        , createDt
        , updateDt
        , description
    ) VALUES (
        #{id}
        , #{name}
        , #{price}
        , #{winPrice}
        , #{address}
        , #{winwinYn}
        , #{createDt}
        , #{updateDt}
        , #{description}
    )
  </insert>

  <update id="updateClimbingArea" parameterType="com.admin.the_climbing_night.admin.domain.req.UpdateClimbingAreaRequest">
    UPDATE
        climbingArea
    <set>
        <if test="name != null and name != ''">name = #{name}</if>
        <if test="price != null and price != ''">, price = #{price}</if>
        <if test="winPrice != null and winPrice != ''">, winPrice = #{winPrice}</if>
        <if test="address != null and address != ''">, address = #{address}</if>
        <if test="winwinYn != null and winwinYn != ''">, winwinYn = #{winwinYn}</if>
        <if test="closeYn != null and closeYn != ''">, closeYn = #{closeYn}</if>
        <if test="createDt != null and createDt != ''">, createDt = #{createDt}</if>
        <if test="updateDt != null and updateDt != ''">, updateDt = #{updateDt}</if>
        <if test="description != null and description != ''">, description = #{description}</if>
    </set>
    WHERE
        1 = 1
        AND id = #{id}
  </update>
</mapper>