.wrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  .title {
    margin-right: 10px;

    .required {
      color: $required;
    }
  }

  .input {
    > input {
      flex: 1;
    }

    > select {
      flex: 1;
    }

    > textarea {
      flex: 1;
      resize: none;
    }
  }
}
