<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.admin.the_climbing_night.degree.mapper.DegreeMapper">
  <select id="getDegrees" resultType="com.admin.the_climbing_night.degree.vo.GetDegreeVo">
    SELECT
        id
        , degree
    FROM
        degree
    ORDER BY
        CAST(id AS UNSIGNED) DESC;
  </select>
</mapper>