.wrap {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  overflow-x: auto;
  @include background($more-light);

  .innerWrap {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 80px;
    padding: 5%;

    .contents {
      display: flex;
      flex-flow: column;
      flex: 1;

      .categories {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        .category {
          font-size: 1rem;
          margin-right: 10px;
          padding: 8px;
          cursor: pointer;

          &.selected {
            background-color: $light;
          }
        }
      }

      .grid {
        width: 100%;
        display: flex;
        flex-direction: column;

        .row {
          display: flex;
          margin-bottom: 5px;

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.8rem;
            text-align: center;
            border: solid 1px $less-dark;
            box-sizing: border-box;
            padding: 5px 0;

            &.winwin {
              color: #608090;
            }

            &:first-child {
              min-width: 75px;
            }

            &:not(:first-child) {
              min-width: 125px;
              border-left: none;
              cursor: pointer;

              &:hover {
                background-color: $light;
              }
            }
          }
        }
      }
    }
  }
}
