<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProperty name="FILE_PATH" source="logging.file.path"/>
    <springProperty name="FILE_NAME" source="logging.file.name"/>

    <property name="FILE_PATH_NAME" value="${FILE_PATH}/${FILE_NAME}.log" />
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight([%-3level]) %logger{5} %M\(%line\) - %m%n" />
    <property name="CHARSET" value="UTF-8" />

    <!-- Console appender 설정 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <charset>${CHARSET}</charset>
        <encoder>
            <Pattern>${PATTERN}</Pattern>
        </encoder>
    </appender>

    <appender name="DAILY" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${FILE_PATH_NAME}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_PATH}/${FILE_NAME}.%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <charset>${CHARSET}</charset>
            <Pattern>${PATTERN}</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="DAILY"/>
    </root>
</configuration>