.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  @include background($more-light);

  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;

    .modalBody {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 20px;
      background-color: $more-light;
      border-radius: 10px;
      transform: translateX(-50%) translateY(-50%);
      list-style: none;
      > li {
        padding: 5px 0;
        cursor: pointer;
      }

      > li:hover {
        background-color: $less-light;
      }
    }
  }

  .innerWrap {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #aaa;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 30px;

    > h2 {
      margin: 0 0 20px 0;
    }

    > button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 10px 0;
    }
  }

  @include mobile {
    .innerWrap {
      width: 70%;
    }
  }
}
