.wrap {
  width: 100%;
  padding: 50px 50px 0 50px;

  .innerWrap {
    width: 100%;
    height: 100%;

    .inputBox {
      width: 100%;
      border-top: solid 1px $less-dark;
      border-bottom: none;
      box-sizing: border-box;

      .inputs {
        width: 100%;
        display: flex;
        align-items: center;

        .input {
          width: 50%;
          border-left: solid 1px $less-dark;
          border-right: solid 1px $less-dark;
          box-sizing: border-box;

          &:nth-child(2) {
            border-left: none;
          }
        }
      }
    }

    .btnBox {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: end;
      margin-top: 20px;

      > button {
        width: 10%;
        height: 30px;
        background-color: $less-light;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
      }
    }
  }
}
